---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const films = await getCollection("films");
	return films.map((film) => ({
		params: { name: film.slug.split("/")[1] },
		props: { film: film.data },
	}));
}

const { film } = Astro.props;
---

<Layout>
	<iframe
		src={`${film.videoUrl}`}
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin"
		allowfullscreen></iframe>
	<h1>
		{film.title}
	</h1>
	<span>
		{film.text}
	</span>
</Layout>

<style>
	iframe {
		width: 100%;
		aspect-ratio: 16 / 9;
	}
	h1 {
		color: white;
	}
	span {
		color: white;
	}
</style>
