---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { YouTube } from "@astro-community/astro-embed-youtube";

export async function getStaticPaths() {
	const films = await getCollection("films");
	return films.map((film) => ({
		params: { name: film.slug.split("/")[1] },
		props: { film: film.data, render: film.render },
	}));
}

const { film, render } = Astro.props;
const { Content } = await render();
---

<Layout>
	<div class="container">
		<YouTube id={film.youtubeVideoId} posterQuality="max" class="yt-player" />
		<Content />
	</div>
</Layout>

<style>
	.yt-player {
		width: 100%;
		aspect-ratio: 16 / 9;
		max-width: unset;
	}
	.container {
		color: white;
		padding:;
		@media screen and (min-width: 960px) {
			padding: 0 24px;
		}

		font-size: 14px;
		@media screen and (max-width: 640px) {
			font-size: 12px;
		}

		h1 {
			font-size: 18px;
			@media screen and (max-width: 640px) {
				font-size: 16px;
			}
		}
	}
	/* TODO: настроить стили для маркдауна */
</style>
