---
import { FILMS_WITH_MEDIA } from "../../data/films";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
	return FILMS_WITH_MEDIA.map((film) => ({
		params: { name: film.name },
		props: { film },
	}));
}

const { film } = Astro.props;
---

<Layout>
	<!-- TODO: или тут видео? -->
	<!-- <img src={film.imgUrl} /> -->
	<iframe
		src={`${film.videoUrl}`}
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin"
		allowfullscreen></iframe>
	<h1>
		{film.title}
	</h1>
	<span>
		{film.text}
	</span>
</Layout>

<style>
	iframe {
		width: 100%;
		aspect-ratio: 16 / 9;
	}
	h1 {
		color: white;
	}
	span {
		color: white;
	}
</style>
