---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { YouTube } from "@astro-community/astro-embed-youtube";

export async function getStaticPaths() {
	const films = await getCollection("films");
	return films.map((film) => ({
		params: { name: film.slug.split("/")[1] },
		props: { film: film.data, render: film.render },
	}));
}

const { film, render } = Astro.props;
const { Content } = await render();
---

<Layout>
	<div class="container">
		<YouTube id={film.youtubeVideoId} posterQuality="max" class="yt-player" />
		<div class="content">
			<Content />
		</div>
	</div>
</Layout>

<style>
	.yt-player {
		width: 100%;
		aspect-ratio: 16 / 9;
		max-width: unset;
	}
	.content {
		padding-top: 20px;
	}
	.container {
		color: white;
		padding:;
		@media screen and (min-width: 960px) {
			padding: 0 24px;
		}

		h1 {
			font-size: 21px;
			font-weight: 300;
			@media screen and (max-width: 640px) {
				font-size: 20px;
				font-weight: 500;
			}
		}
		p {
			font-size: 17px;
			line-height: 22px;
			padding-bottom: 20px;
			@media screen and (max-width: 640px) {
				font-size: 16px;
				line-height: 21px;
			}
		}
	}
	/* TODO: настроить стили для маркдауна */
</style>
