html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

.opacity-overlay {
  background-color: #000000;
  opacity: 80%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}