---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="container">
		<h1>About</h1>
		<span
			>Exploring the beautiful pattern of my experiences as I observe and live them in different parts of the world. 
			With the very necessary, very real random/non-random people I meet.

			Allowing myself to be whatever form I am capable of at any given moment. 
			Life offers, I participate!
			
			I'm very open to creative suggestions from people from anywhere in the world, write.
		</span>
	</div>
</Layout>

<style>
	.container {
		color: white;

		@media screen and (min-width: 960px) {
			padding: 8px 32px;
		}

		font-size: 14px;
		@media screen and (max-width: 640px) {
			font-size: 12px;
		}

		h1 {
			font-size: 18px;
			@media screen and (max-width: 640px) {
				font-size: 16px;
			}
		}
	}
</style>
