---
import Film from "./Film.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const films = await getCollection("films");
---

<Layout>
	<div class="films-container">
		{
			films.map((film) => {
				return (
					<Film
						href={`/utro-zhizni/films/${film.slug}`}
						img={film.data.previewImg}
						gifUrl={film.data.gifUrl}
					/>
				);
			})
		}
	</div>
</Layout>
<style>
	.films-container {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-auto-rows: max-content;
		gap: 16px;
		padding: 16px;
		justify-content: space-evenly;
	}
</style>
