---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
interface Props {
	href: string;
	img: ImageMetadata;
	gifUrl: string;
}

const { href, img, gifUrl } = Astro.props;
---

<div class="film">
	<a href={href}>
		<Image class="image" alt={href} src={img} />
	</a>
</div>
<style>
	.film {
	}
	.film .image {
		height: 100%;
		object-fit: cover;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
