---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
interface Props {
	href: string;
	img: ImageMetadata;
	gifUrl: string;
}

const { href, img, gifUrl } = Astro.props;
---

<div class="film">
	<a href={href}>
		<Image class="static-image" loading="lazy" alt={href} src={img} />
	</a>
</div>
<style>
	.film {
		position: relative;
	}
	.static-image {
		height: 100%;
		object-fit: cover;
		transition: opacity 0.3s ease;
	}
	}
</style>
