---
function clearPathname(pathname) {
	const lastDotIndex = pathname.lastIndexOf(".");
	if (lastDotIndex !== -1) {
		return pathname.substring(0, lastDotIndex);
	}
	if (pathname[pathname.length - 1] === "/") {
		return pathname.substring(0, pathname.length - 1);
	}
	return pathname;
}

const pathname = new URL(Astro.request.url).pathname;
const cleanPathname = clearPathname(pathname);
---

<nav>
	<ul>
		<li>
			<a
				class={"/utro-zhizni/about" === cleanPathname ? "active" : ""}
				href="/utro-zhizni/about">About</a
			>
		</li>
		<li>
			<a
				class={["/utro-zhizni/films", "/utro-zhizni"].includes(cleanPathname)
					? "active"
					: ""}
				href="/utro-zhizni/films">Films</a
			>
		</li>
		<li>
			<a
				class={"/utro-zhizni/contacts" === cleanPathname ? "active" : ""}
				href="/utro-zhizni/contacts"
			>
				Contacts
			</a>
		</li>
	</ul>
</nav>

<style>
	nav {
		background-color: black;
		position: sticky;
		top: 0;
		z-index: 1000;
	}

	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	nav ul li {
		float: left;
	}

	nav ul li a {
		display: block;
		padding: 20px;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		@media screen and (max-width: 640px) {
			padding: 16px;
		}
	}

	nav ul li a:hover,
	nav ul li a:focus,
	nav ul li a.active {
		color: #fac711;
	}
</style>
