---
import "@fontsource/pt-sans-narrow";
import "../styles/global.css";
import "../styles/reset.css";
import Navigation from "../components/Navigation.astro";
import { getImage } from "astro:assets";
import myBackground from "../images/background.jpg";
const backgroundImage = await getImage({ src: myBackground });
const backgroundImageUrl = `url('${backgroundImage.src}')`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/utro-zhizni/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<slot name="head" />
	</head>
	<body>
		<div class="site">
			<div class="opacity-overlay"></div>
			<Navigation />
			<div class="page">
				<slot />
			</div>
		</div>
	</body>
</html>

<style define:vars={{ backgroundImageUrl }}>
	.site {
		background-image: var(--backgroundImageUrl);
		overflow: hidden;
		height: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: "PT Sans Narrow";
	}
	.page {
		height: 100%;
		max-width: 1300px;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
		padding: 48px 48px;
		flex-grow: 1;
		@media screen and (max-width: 640px) {
			padding: 32px 32px;
		}
	}
	.opacity-overlay {
		background-color: #000000;
		opacity: 80%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
</style>
