---
import "../styles/global.css";
import "../styles/reset.css";
import Navigation from "../components/Navigation.astro";
import { getImage } from "astro:assets";
import myBackground from "../images/background.jpg";

const backgroundImage = await getImage({ src: myBackground });
const backgroundImageUrl = `url('${backgroundImage.src}')`;
---

<div class="page">
	<Navigation />
	<div class="opacity-overlay"></div>
	<slot />
</div>

<style define:vars={{ backgroundImageUrl }}>
	.page {
		background-image: var(--backgroundImageUrl);
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
</style>
