---
import GlobalResetStyles from "../components/GlobalResetStyles.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import Navigation from "../components/Navigation.astro";
---

<GlobalResetStyles />
<GlobalStyles />
<Navigation />
<div class="opacity-overlay"></div>
<slot />
